
.dataTables_length, .dataTables_filter {
    margin-top: 8px;
}

div.dataTables_length label {
    margin-top: 3px;
    margin-bottom: 5px !important;
}

.dataTables_length .form-control,
.dataTables_filter .form-control {
    margin-left: 5px;
    vertical-align: baseline;
}

.table.dataTable thead .sorting_asc {
    background-image: url('../images/datatables/sort_asc.png');
}

.table.dataTable thead .sorting_desc {
    background-image: url('../images/datatables/sort_desc.png');
}

.table.dataTable thead > tr > th {
    padding-left: 8px;
}

td.details-control {
    cursor: pointer;
}

td.details-control:before {
    font-family: 'FontAwesome';
    content: '\f105';
    display: block;
    text-align: center;
    font-size: 16px;
}

tr.shown td.details-control:before {
    font-family: 'FontAwesome';
    content: '\f107';
    display: block;
    text-align: center;
    font-size: 16px;
}

.dataTables_wrapper table > tbody > tr > td table {
    width: 500px;
}


/* For table length select using select2 */

.select2-container .select2-choice {
    padding-top: 2px;
    padding-bottom: 2px;
}

.select2-container .select2-choice .select2-arrow {
    top: -1px;
}
 