/**
 * STYLES COLOR
 * @color1 #00ad1d
 * @color2 #EC8E22
 * @author Asep Fajar Nugraha
 * @copyright 2016
 */

/* main.css */
a{color:#00ad1d}
::-moz-selection{background:#00ad1d}::selection{background:#00ad1d}
.loader-horizontal>div{background-color:#00ad1d}
.link-button{border-color:#ef0f2e;background:#ef0f2e;color:#FFF}
.link-button.outline{color:#00ad1d}
.link-button.outline:hover{background:#00ad1d;border-color:#00ad1d}
.link-button.outline.gray:hover{border-color:#CCC}
.paging-wrapper .paging-list li.active a,
.paging-wrapper .paging-list li a.active{background:#00ad1d}

/* style.css */
header .nav {
    color: #00ad1d;
}
header .nav:hover,
header .nav:active {
    background: #00ad1d;
}
header .top-nav .nav-left li a {
	color: #EC8E22;
}
header .top-nav .nav-left li a:hover {
	color: #00ad1d;
}
header .top-nav .nav-right li i {
	color: #00ad1d;
}
header .header-main {
	border-color:  #00ad1d;
}
.main-menu li a {
	color: #333;
}
.main-menu li a:hover {
	color: #FFF;
	background: #00ad1d;
}
.main-action a {
	color: #00ad1d;
}
.search-wrapper h4 i {
	color: #00ad1d;
}
.search-wrapper .search-category li a:hover {
	color: #00ad1d;
}
.search-wrapper .search-category li a.active:hover {
	color: #333;
}
.search-wrapper .search-category li a.active {
	background: #00ad1d;
	color: #FFF;
}
.search-wrapper .route {
	border-color:  #00ad1d;
}
.search-wrapper .route .icon i {
	background: #00ad1d;
	color: #FFF;
}
.search-wrapper .route .switch:hover {
	background: #00ad1d;
	border-color: #00ad1d;
}
.search-wrapper .date .date-switch a.active {
	background: #00ad1d;
	color: #FFF;
}
.search-wrapper .default input:hover,
.search-wrapper .default input:focus,
.search-wrapper .date input:hover,
.search-wrapper .date input:focus {
	border-color: #00ad1d;
}
.search-wrapper .pax li a.toggle:hover,
.search-wrapper .qty li a.toggle:hover {
	border-color: #00ad1d;
}
.search-wrapper .pax li ul li a:hover,
.search-wrapper .qty li ul li a:hover {
	background: #00ad1d;
}
.search-wrapper form button.submit {
	background: #00ad1d;
	color: #FFF;
}
.search-wrapper .search-toggle {
	color: #FFF;
}
.search-wrapper .search-toggle:hover {
	background: #00ad1d;
	color: #FFF;
}
.footer-nav .footer-menu ul li a {
	color: #00ad1d;
}
footer .subscribe input[type="text"] {
	border-color: #EC8E22;
}
footer .subscribe button {
	background: #EC8E22;
}
.box-wrapper .box-head i {
	color: #00ad1d;
}
.box-body .campaign li .icon {
	color: #00ad1d;
}
nav .nav-close {
	background: #00ad1d;
}
.nav-wrapper li.separator {
	background: #00ad1d;
}
.nav-wrapper li a:hover {
    background: #00ad1d;
    border-color: #00ad1d;
}
.nav-wrapper li a i {
	color: #00ad1d;
}

/* page.home.css */
.popular-list li .desc i {
	border-color: #00ad1d;
	color: #00ad1d;
}

.search-result .result-head > i {
	color: #00ad1d;
}
.search-result .result-loader div {
	background: #00ad1d;
}

/* page.search.css */
.search-result .result-loader ul li i.completed {
	color: #00ad1d;
}

/* page.search.flight.css */
.flight-filter .flight-filter-item li a.active {
	border-color: #00ad1d;
	color: #00ad1d;
}
.flight-sort li a i {
	color: #00ad1d;
}
.flight-list .flight-price p {
	color: #00ad1d;
}
.toggle-flight-list.active {
	border-color: #00ad1d;
	color: #00ad1d;
}
.flight-list > li > .detail .route > li {
	border-color: #00ad1d!important;
}
.flight-list > li > .detail .route > li.active {
	border-color: #DDD!important;
}
.flight-list > li > .detail .route > li > div.icon {
	color: #00ad1d;
}
.flight-list > li > .detail .route > li.active > .facility span i {
	color: #00ad1d;
}

.selection-container li a:hover {
    background: #EEE;
}
.taken-schedule {
	border-color: #00ad1d!important;
}

/* page.search.train.css */
.train-filter .train-filter-item li a.active {
	border-color: #00ad1d;
	color: #00ad1d;
}
.train-sort li a i {
	color: #00ad1d;
}
.train-list .train-price p {
	color: #00ad1d;
}
.toggle-train-list.active {
	border-color: #00ad1d;
	color: #00ad1d;
}
.train-list > li > .detail .route > li {
	border-color: #00ad1d!important;
}
.train-list > li > .detail .route > li.active {
	border-color: #DDD!important;
}
.train-list > li > .detail .route > li > div.icon {
	color: #00ad1d;
}
.train-list > li > .detail .route > li.active > .facility span i {
	color: #00ad1d;
}

.selection-container li a:hover {
    background: #EEE;
}
.taken-schedule {
	border-color: #00ad1d!important;
}

/* page.search.hotel.css */
.hotel-filter h5 i {
	color: #00ad1d;
}
.hotel-sort li a i {
	color: #00ad1d;
}
.preview .hotel-desc h4 {
	color: #00ad1d;
}
.preview .hotel-desc .hotel-location i {
	color: #00ad1d;
}
.hotel-total-price p {
	color: #00ad1d;
}
.hotel-item .preview > .action .soldout {
	color: #00ad1d;
}
.taken-item {
	border-color: #00ad1d!important;
}
.detail-item .detail-head h1 {
	color: #EC8E22;
}
.detail-item .detail-head div i {
	color: #00ad1d;
}
.detail-item .detail-info {
	border-color: #00ad1d!important;
}
.detail-item .detail-info > li > a i {
	color: #00ad1d;
}

/* page.checkout.css */
.input-wrapper h1,
.cart-wrapper h1 {
	border-color: #00ad1d;
}
.input-wrapper .form-item .input-item:focus {
	border-color: #00ad1d;
}
.cart-item {
	border-color: #00ad1d;
}
.total-price .price-amount {
	color: #00ad1d;
}
.payment-method-item .description {
	border-color: #00ad1d;
}
.payment-method-item .description .transfer-description li h4 {
	color: #00ad1d;
}

/* page.checkout.flight.css */
.cart-description .route > li {
	border-color: #00ad1d;
}
.cart-description .route > li > div.icon {
	color: #00ad1d;
}

/* page.checkout.hotel.css */
.cart-description .detail-list > li > div.icon {
	color: #00ad1d;
}

/* page.info.css */
.info-navigation > li > a.active {
	background: #00ad1d;
}
.info-content > h1 i {
	color: #00ad1d;
}

/* page.campaign.css */
.campaign-wrapper .campaign-head i {
	color: #00ad1d;
}
.campaign-list li .desc i {
	border-color: #00ad1d;
	color: #00ad1d;
}
.campaign-search h4 i {
	color: #00ad1d;
}
.campaign-search .search-category li a:hover {
	color: #00ad1d;
}
.campaign-search .search-category li a.active:hover {
	color: #333;
}
.campaign-search .search-category li a.active {
	background: #00ad1d;
	color: #FFF;
}
.campaign-search .route {
	border-color:  #00ad1d;
}
.campaign-search .route .icon i {
	background: #00ad1d;
	color: #FFF;
}
.campaign-search .route .switch:hover {
	background: #00ad1d;
	border-color: #00ad1d;
}
.campaign-search .date .date-switch a.active {
	background: #00ad1d;
	color: #FFF;
}
.campaign-search .default input:hover,
.campaign-search .default input:focus,
.campaign-search .date input:hover,
.campaign-search .date input:focus {
	border-color: #00ad1d;
}
.campaign-search .pax li a.toggle:hover,
.campaign-search .qty li a.toggle:hover {
	border-color: #00ad1d;
}
.campaign-search .pax li ul li a:hover,
.campaign-search .qty li ul li a:hover {
	background: #00ad1d;
}
.campaign-search form button.submit {
	background: #00ad1d;
	color: #FFF;
}
.campaign-search .search-toggle {
	color: #FFF;
}
.campaign-search .search-toggle:hover {
	background: #00ad1d;
	color: #FFF;
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) { }

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.flight-list > li.active,
	.flight-list > li:hover {
		border-color: #00ad1d;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }

/*progressbar*/
.progressbar {
	margin-top: 15px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	color: rgb(0,0,0);
	text-transform: uppercase;
	font-size: 11px;
	width: 25%;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
.red{
color: red;
}
.success{
color:green;
}