/**
 * STYLES MAIN
 * @author Asep Fajar Nugraha
 * @copyright 2016
 */

@import url('font-awesome.min.css');
@import url('linearicons.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat::400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i');

/* OVERRIDE DEFAULT */
body,html{margin:0;padding:0}body{min-height:100%;position:relative;color:#333;font-size:12px;font-family:'Montserrat',Helvetica,Arial,sans-serif;letter-spacing:normal;font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased}a{cursor:pointer;outline:0;text-decoration:none;transition:all 300ms ease;-o-transition:all 300ms ease;-ms-transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease}a:hover{text-decoration:underline}strong{font-weight:700}button,input,select,textarea{font-family:'Montserrat',Helvetica,Arial,sans-serif;font-size:12px;outline:0;transition:all 300ms ease;-o-transition:all 300ms ease;-ms-transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease}input::-moz-placeholder,select::-moz-placeholder,textarea::-moz-placeholder{color:#CCC;opacity:1}input:-ms-input-placeholder,select:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#CCC}input::-webkit-input-placeholder,select::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#CCC}::-moz-selection{color:#FFF}::selection{color:#FFF}h1,h2,h3,h4,h5,h6{font-weight:400}h1{font-size:22px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:12px}hr{margin: 10px 0;border-bottom: 1px solid #EEE}input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0}input[type=number]{-moz-appearance:textfield}*:focus,*:active{outline:none;outline:0}*::-moz-focus-inner{border: 0}

/* LAYOUT & POSITION */
.clearfix:after,.clearfix:before{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}.clear{clear:both}.hide-overflow{overflow:hidden}.pull-left{float:left}.pull-right{float:right}.text-strong{font-weight:700!important}.text-uppercase{text-transform:uppercase!important}.text-left{text-align:left!important}.text-center{text-align:center!important}.text-right{text-align:right!important}.mtop-5{margin-top:5px!important}.mtop-10{margin-top:10px!important}.mtop-15{margin-top:15px!important}.mtop-20{margin-top:20px!important}.mtop-30{margin-top:30px!important}.mtop-50{margin-top:50px!important}.mtop-100{margin-top:100px!important}.mbottom-5{margin-bottom:5px!important}.mbottom-10{margin-bottom:10px!important}.mbottom-15{margin-bottom:15px!important}.mbottom-20{margin-bottom:20px!important}.mbottom-30{margin-bottom:30px!important}.mbottom-50{margin-bottom:50px!important}.mbottom-100{margin-bottom:100px!important}.ptop-5{padding-top:5px!important}.ptop-10{padding-top:10px!important}.ptop-15{padding-top:15px!important}.ptop-20{padding-top:20px!important}.ptop-30{padding-top:30px}.ptop-50{padding-top:50px!important}.ptop-100{padding-top:100px!important}.pbottom-5{padding-bottom:5px!important}.pbottom-10{padding-bottom:10px!important}.pbottom-15{padding-bottom:15px!important}.pbottom-20{padding-bottom:20px!important}.pbottom-30{padding-bottom:30px!important}.pbottom-50{padding-bottom:50px!important}.pbottom-100{padding-bottom:100px!important}.site-metadata{display:none;opacity:0}.pos-relative{position:relative!important}

/* LOADER */
.loader{position:fixed;z-index:99999;width:100%;height:100%;top:0;left:0;text-align:center}.loader .loader-overlay{position:fixed;z-index:0;width:100%;height:100%;background:#FFF;background:rgba(255,255,255,.8)}
.loader.dark .loader-overlay{background:rgba(0,0,0,.8)}
.loader.inline{position:absolute;z-index:1;width:100%;height:100%;text-align:center}.loader.inline .loader-overlay{position:absolute;}.loader-horizontal{position:absolute;top:50%;left:0;right:0;margin:-17.5px auto 0 auto}.loader-horizontal>div{width:4px;height:35px;border-radius:2px;margin:2px;display:inline-block;-webkit-animation:loader-horizontal .9s -.6s infinite cubic-bezier(0.85,.25,.37,.85);animation:loader-horizontal .9s -.6s infinite cubic-bezier(0.85,.25,.37,.85)}.loader-horizontal>div:nth-child(2),.loader-horizontal>div:nth-child(4){-webkit-animation-delay:-.4s!important;animation-delay:-.4s!important}.loader-horizontal>div:nth-child(1),.loader-horizontal>div:nth-child(5){-webkit-animation-delay:-.2s!important;animation-delay:-.2s!important}@-webkit-keyframes loader-horizontal{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}@keyframes loader-horizontal{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}

/* POP CONFIRMATION */
.confirmation {
	display: none;
	position: fixed;
	z-index: 99999;
	width:100%;height:100%;top:0;left:0;
}
.confirmation .overlay{position:fixed;z-index:0;width:100%;height:100%;background:#FFF;background:rgba(0,0,0,.5)}
.confirmation .body {
	position: absolute;
	z-index: 1;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.confirmation .confirmation-content {
	background: #FFF;
	border-radius: 3px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.confirmation .close {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #D11;
	border-radius: 0 3px 0 3px;
	transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    color: #FFF;
}

/* COMMON STYLES */
.text-small { font-size: 11px!important; }
.text-info { color: #00AEEF!important; }
.text-warning { color: #F7941D!important; }
.text-success { color: #39B54A!important; }
.text-error { color: #DD1111!important; }
.text-gray {color: #999!important; }
.link-button {
	display: inline-block;
	max-width: 100%;
	height: 35px;
	line-height: 32px;
	padding: 0 20px;
	border: 1px solid;
	border-radius: 3px;
	box-sizing: border-box;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	text-align: center;
	font-size: 13px;
	outline: none;
	font-weight: 400;
	cursor: pointer;
}
button.link-button {
	line-height: 27px;
	box-sizing: border-box;
}
.link-button:hover {
	text-decoration: none!important;
}
.link-button.large {
	height: 40px;
	line-height: 38px;
	font-size: 14px;
}
.link-button.small {
	height: 30px;
	line-height: 28px;
	font-size: 12px;
}
.link-button.extra-small {
	height: 25px;
	line-height: 23px;
	font-size: 11px;
}
.link-button.block {
	width: 100%;
	display: block!important;
}
.link-button.outline {
	background: transparent;
}
.link-button.outline:hover {
	color: #FFF;
	text-decoration: none!important;
}
.link-button.gray {
	background: #CCC;
	color: #444!important;
	border: 1px solid #CCC;
}
.link-button.gray.outline {
	background: transparent;
}
.link-button.gray.outline:hover {
	background: #EEE;
	text-decoration: none!important;
}
.label {
	display: inline-block;
	padding: 0 10px;
	background: #999;
	color: #FFF;
	border-radius: 3px;
	font-size: 11px;
}
.label.info { background: #00AEEF; }
.label.warning { background: #F7941D; }
.label.success { background: #39B54A; }
.label.error { background: #DD1111; }
.label.gray {background: #999; }

/* COMMON: Pop */
.pop {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width:100%;height:100%;background:#FFF;background:rgba(255,255,255,.8);
	display: none;
}
/* COMMON: Notification */
.notification {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: #CCC;
	color: #333;
	border-radius: 3px;
	overflow: hidden;
}
.notification.popup {
	position: absolute;
	width: 90%;
	top: 0;
	left: 0;
	right: 0;
	margin: 50px auto 0 auto;
}
.notification h4 {
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 20px;
}
.notification .close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #000;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0 0 0 3px;
	transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    color: #333;
}
.notification .close:hover {
	text-decoration: none;
}
.notification.error,
.notification.success,
.notification.info,
.notification.warning,
.notification.error .close,
.notification.success .close,
.notification.info .close,
.notification.warning .close {
	color: #FFF;
}
.notification.error {
	background: #D11;
}
.notification.success {
	background: #39B54A;
}
.notification.info {
	background: #00AEEF;
}
.notification.warning {
	background: #F7941D;
}

/* COMMON: Pagination */
.paging-wrapper .paging-desc {
	position: relative;
	padding-top: 10px;
}
.paging-wrapper .paging-list {
	position: relative;
	text-align: center;
}
.paging-wrapper .paging-list ul {
	display: inline-block;
	text-align: right;
}
.paging-wrapper .paging-list li {
	display: inline-block;
	min-width: 25px;
	height: 25px;
	line-height: 25px;
	margin-right: 2px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.paging-wrapper .paging-list li a {
	display: block;
	background: #DDD;
	border-radius: 3px;
	color: #333;
	text-decoration: none;
}
.paging-wrapper .paging-list li a:hover {
	background: #999;
}
.paging-wrapper .paging-list li.active a,
.paging-wrapper .paging-list li a.active {
	color: #FFF;
	font-weight: 600;
}


/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) {
	.notification.popup {
		width: 400px;
	}
}

/* Tablets */
@media (min-width: 600px) { }

/* Bigger tablets */
@media (min-width: 750px) {
	.notification.popup {
		width: 500px;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) { }

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }