.campaign-wrapper {
	position: relative;
}
.campaign-wrapper .campaign-head {
	position: relative;
	width: 100%;
	height: 200px;
}
.campaign-wrapper.flight .campaign-head {
	background: url('../img/campaign-flight.jpg') no-repeat center center;
}
.campaign-wrapper.train .campaign-head {
	background: url('../img/campaign-train.jpg') no-repeat center center;
}
.campaign-wrapper.hotel .campaign-head {
	background: url('../img/campaign-hotel.jpg') no-repeat center center;
}

.campaign-wrapper .campaign-head h1 {
	position: absolute;
	top: 50%;
	right: 0;
	max-width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	padding: 0 20px;
	box-sizing: border-box;
	background: #FFF;
    background: rgba(255, 255, 255, 0.8);
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 20px;
	border-radius: 3px 0 0 3px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.campaign-wrapper .campaign-head i {
	display: inline-block;
	font-size: 18px;
	margin-right: 5px;
}
.campaign-list {
	margin: -5px -10px -10px -10px;
}
.campaign-list li {
	position: relative;
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}
.campaign-list li a {
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	border-radius: 3px;
}
.campaign-list li a:hover {
	opacity: 0.8;
	text-decoration: none;
}
.campaign-list li img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	object-fit: cover;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}
.campaign-list li a:hover img {
	transform: scale(1.1);
}
.campaign-list li .title {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	background: #111;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.campaign-list li .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333;
	font-size: 11px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    background: #FFF;
    background: rgba(255, 255, 255, 0.7);
}
.campaign-list li .desc i {
	display: none;
}
.campaign-search {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	background: #EEE;
	color: #333;
	border-radius: 3px;
}
.campaign-search .search-form {
	max-height: 0;
	display: none;
}
.campaign-search.active .search-form {
	display: block;
	max-height: 600px;
}
.campaign-search h4 {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
}
.campaign-search h4 i {
	display: inline-block;
	margin-right: 5px;
}
.campaign-search .search-category li {
	float: left;
	padding: 0 2px;
}
.campaign-search .search-category li a {
	display: block;
	width: 30px;
	background: #333;
	color: #999;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 11px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	border-radius: 3px 3px 0 0;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}
.campaign-search .search-category li a:hover {
	text-decoration: none;
	background: #111;
}
.campaign-search .search-category li a.active {
	width: auto;
}
.campaign-search .search-category li a i {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
}
.campaign-search .box {
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	border-radius: 3px;
	background: #FFF;
}
.campaign-search .route {
	border-left: 1px dashed;
	margin-left: 15px;
}
.campaign-search .route li {
	position: relative;
	background: #FFF;
	margin-left: 30px;
}
.campaign-search .route li label {
	display: block;
	font-size: 10px;
	color: #999;
}
.campaign-search .route .icon {
	position: absolute;
	left: -45px;
	width: 30px;
	background: #FFF;
}
.campaign-search .route .icon i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}
.campaign-search .route .switch {
	position: absolute;
	z-index: 1;
	bottom: -15px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 27px;
	border-radius: 50%;
	background: #FFF;
	border: 1px solid #EEE;
	box-sizing: border-box;
	color: #333;
	text-align: center;
}
.campaign-search .route .switch:hover {
	text-decoration: none;
	color: #FFF;
}
.campaign-search .route li:first-child .icon {
	top: 0;
	padding-top: 15px;
}
.campaign-search .route li:last-child .icon {
	bottom: 0;
	padding-bottom: 15px;
}
.campaign-search .route .item {
	padding: 10px 0;
}
.campaign-search .route .item.bordered {
	border-bottom: 1px solid #EEE;
}
.campaign-search .route .item input {
	margin-top: 5px;
	background: #FFF;
	width: 100%;
	box-sizing: border-box;
	color: #333;
	height: 20px;
	line-height: 20px;
	border: none;
	outline: none;
}
.campaign-search .default,
.campaign-search .date {
	padding: 10px 0;
}
.campaign-search .date .date-switch {
	text-align: center;
}
.campaign-search .date .date-switch a {
	display: inline-block;
	margin-left: -4px;
	padding: 5px 10px;
	background: #DDD;
	font-size: 10px;
	color: #333;
}
.campaign-search .date .date-switch a:first-child {
	border-radius: 3px 0 0 3px;
}
.campaign-search .date .date-switch a:last-child {
	border-radius: 0 3px 3px 0;
}
.campaign-search .date .date-switch a:hover {
	background: #CCC;
	text-decoration: none;
}
.campaign-search .date .date-switch a.active {
	text-decoration: none;
}
.campaign-search .default .item,
.campaign-search .date .item {
	position: relative;
}
.campaign-search .default label,
.campaign-search .date label {
	display: block;
	font-size: 10px;
	color: #999;
}
.campaign-search .default .icon,
.campaign-search .date .icon {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #FFF;
	color: #999;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}
.campaign-search .default input,
.campaign-search .date input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	padding: 0 10px 0 35px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-sizing: border-box;
}
.campaign-search .pax,
.campaign-search .qty {
	margin: 0 -5px;
	padding: 10px 0;
}
.campaign-search .pax label,
.campaign-search .qty label {
	display: block;
	font-size: 10px;
	color: #999;
}
.campaign-search .pax li,
.campaign-search .qty li {
	float: left;
	position: relative;
	width: 33.33%;
	padding: 0 5px;
	box-sizing: border-box;
}
.campaign-search .qty li {
	width: 50%;
}
.campaign-search .pax li a.toggle,
.campaign-search .qty li a.toggle {
	display: block;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333;
	border: 1px solid #EEE;
	border-radius: 3px;
	background: #FFF;
}
.campaign-search .pax li a.toggle:hover,
.campaign-search .qty li a.toggle:hover {
	text-decoration: none;
	background: #FAFAFA;
}
.campaign-search .pax li a.toggle i,
.campaign-search .qty li a.toggle i {
	float: right;
	line-height: 35px;
	font-size: 14px;
	color: #999;
}
.campaign-search .pax li ul,
.campaign-search .qty li ul {
	display: none;
	position: absolute;
	z-index: 2;
	width: 40px;
	margin-top: -40px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
}
.campaign-search .pax li ul li,
.campaign-search .qty li ul li {
	float: none;
	width: 100%;
	padding: 0;
}
.campaign-search .pax li ul li a,
.campaign-search .qty li ul li a {
	display: block;
	text-align: center;
	padding: 5px 0;
	color: #333;
}
.campaign-search .pax li ul li a:hover,
.campaign-search .qty li ul li a:hover {
	text-decoration: none;
}
.campaign-search form button.submit {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	border-radius: 3px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.campaign-search form button.submit i {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
}
.campaign-search .search-toggle {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: #111;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.campaign-search .search-toggle:hover {
	color: #333;
}
.campaign-search.active .search-toggle i {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) {
	.campaign-list li .desc i {
		display: inline-block;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border: 1px solid;
		border-radius: 50%;
		font-size: 13px;
	}
}

/* Tablets */
@media (min-width: 600px) {
	.campaign-list li {
		width: 33.33%;
	}
	.campaign-list li:nth-child(10) {
		display: none;
	}
}

/* Bigger tablets */
@media (min-width: 750px) {
	.campaign-list li {
		width: 25%;
	}
	.campaign-list li:nth-child(9) {
		display: none;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.campaign-wrapper .campaign-head h1 {
		top: 30px;
		margin-top: 0;
	}
	.campaign-list li {
		width: 20%;
	}
	.campaign-list li {
		display: block!important;
	}
	.campaign-search {
		position: absolute;
		top: 110px;
		left: 0;
		width: 100%;
		height: 90px;
		margin-top: 0;
		padding: 10px;
		padding-right: 100px;
		border-radius: 0;
		background: #000;
		background: rgba(0, 0, 0, 0.5);
	}
	.campaign-search .box {
		float: left;
		width: 33.33%;
		border-radius: 0;
		height: 70px;
		margin-bottom: 0;
		border-right: 1px solid #DDD;
	}
	.campaign-search .box.box-1,
	.campaign-search .box.box-2 {
		width: 40%;
	}
	.campaign-search .box.box-3 {
		width: 20%;
		border-right: none;
	}
	.campaign-search .route {
		border: none;
		margin: 0;
	}
	.campaign-search .route:after,.campaign-search .route:before{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.campaign-search .route:after{clear:both}.campaign-search .route{zoom:1}
	.campaign-search .route > li {
		position: relative;
		float: left;
		width: 50%;
		height: 70px;
		margin-left: 0;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.campaign-search .route > li .icon {
		display: none;
	}
	.campaign-search .route .item {
		height: 100%;
		box-sizing: border-box;
	}
	.campaign-search .route .item.bordered {
		border-bottom: none;
		border-right: 1px solid #EEE;
	}
	.campaign-search .route .item input[type="text"] {
		padding-right: 10px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    height: 30px;
	    line-height: 30px;
	}
	.campaign-search .route .switch {
		bottom: 20px;
		right: -5px;
	}
	.campaign-search .date:after,.campaign-search .date:before{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.campaign-search .date:after{clear:both}.campaign-search .date{zoom:1}
	.campaign-search .date {
		padding: 0;
		height: 70px;
	}
	.campaign-search .date .item {
		float: left;
		width: 50%;
		height: 70px;
		padding: 10px;
		margin-top: 0!important;
		box-sizing: border-box;
	}
	.campaign-search .default .icon, .campaign-search .date .icon {
		left: 5px;
		bottom: 13px;
	}
	.campaign-search .default .icon {
		bottom: 0;
	}
	.campaign-search .default input, .campaign-search .date input {
		border: none;
		height: 30px;
		line-height: 30px;
		padding-left: 30px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.campaign-search .default input {
		padding-left: 40px;
	}
	.campaign-search .date .item.bordered {
		border-bottom: none;
		border-right: 1px solid #EEE;
	}
	.campaign-search .date {
		position: relative;
	}
	.campaign-search .date .date-switch {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.campaign-search .date .date-switch a:first-child {
		border-radius: 0 0 0 3px;
	}
	.campaign-search .date .date-switch a:last-child {
		border-radius: 0 0 3px 0;
	}
	.campaign-search .date .item > label {
		color: #FFF;
	}
	.campaign-search .pax li a.toggle, .campaign-search .qty li a.toggle {
		height: 30px;
		line-height: 30px;
	}
	.campaign-search .pax li a.toggle i, .campaign-search .qty li a.toggle i {
		line-height: 30px;
	}
	.campaign-search .action {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.campaign-search .action .submit {
		width: 80px;
		height: 70px;
		line-height: 70px;
	}
	.campaign-search .action .submit i {
		display: none;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }