.result-filter {
	display: none;
}
.search-result {
	position: relative;
}
.search-result .result-head {
	position: relative;
	box-sizing: border-box;
}
.search-result .result-head > i {
	float: left;
	display: inline-block;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.search-result .result-head h1 {
	font-size: 18px;
	word-wrap: break-word;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.search-result .result-head > p {
	font-size: 11px;
}
.search-result .result-head .result-change {
	margin-top: 20px;
	width: 100%;
}
.search-result .result-loader {
	position: relative;
	width: 100%;
}
.search-result .result-loader div {
	width: 0;
	height: 5px;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}
.search-result .result-loader ul li {
	position: relative;
	float: left;
	background: #EEE;
}
.search-result .result-loader ul li i {
	position: absolute;
	z-index: 2;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	top: -7px;
	right: -1px;
	color: #EEE;
	font-size: 14px;
}
.search-result .result-body .result-wrapper {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.result-wrapper .overlay {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: #FFF;
	background: rgba(255, 255, 255, 0.7);
}
.search-result .result-items {
	position: relative;
}
.search-empty {
	padding: 20px;
	text-align: center;
	border: 2px dashed #CCC;
	border-radius: 3px;
	color: #999;
	font-size: 16px;
}
.search-loader {
	padding: 20px;
	text-align: center;
	border: 2px dashed #CCC;
	border-radius: 3px;
	color: #999;
	font-size: 16px;
    -webkit-animation:search-loader 1.2s infinite ease;
    animation:search-loader 1.2s infinite ease
}

@-webkit-keyframes search-loader {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes search-loader {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) {
	.search-result .result-head {
		padding-right: 200px;
	}
	.search-result .result-head h1 {
		word-wrap: break-word;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.search-result .result-head .result-change {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
		width: auto;
	}
	.search-result .result-body.col-2 {
		margin-left: -10px;
		margin-right: -10px;
	}
	.search-result .result-body.col-2 .result-wrapper {
		float: left;
		width: 50%;
		padding: 0 10px;
	}
	.search-result .result-body.col-2 .result-wrapper.inactive {
		width: 50%;
	}
	.search-result .result-body.col-2 .result-wrapper.active {
		width: 50%;
	}
}

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.search-result {
		padding-top: 50px;
	}
	.search-result .result-body.col-2 .result-wrapper.inactive {
		width: 30%;
	}
	.search-result .result-body.col-2 .result-wrapper.active {
		width: 70%;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }