.cart-item.has-image .cart-image img {
	width: 50px;
	height: 50px;
	border-radius: 3px;
}
.cart-description .detail-list {
	width: 100%;
	box-sizing: border-box;
}
.cart-description .detail-list > li {
	position: relative;
	display: block;
}
.cart-description .detail-list > li:first-child {
	padding-top: 0;
}
.cart-description .detail-list > li:last-child {
	padding-bottom: 0;
	border-left: none;
	padding-left: 1px;
}
.cart-description .detail-list > li > div {
	box-sizing: border-box;
}
.cart-description .detail-list > li:last-child > div {
	padding-bottom: 0;
}
.cart-description .detail-list > li > div.icon {
	display: inline-block;
	width: 20px;
	line-height: 20px;
}
.cart-description .detail-list > li > div.schedule {
	display: inline-block;
	font-size: 11px;
}
.cart-description .detail-list > li.active {
	margin-bottom: 10px;
}
.cart-description .detail-list > li.active > div {
	/*float: none;
	padding: 0;*/
}
.cart-description .detail-list > li.active > .desc,
.cart-description .detail-list > li.active > .facility {
	box-sizing: border-box;
}
.cart-description .detail-list > li.active > .desc h5 {
	display: inline-block;
	line-height: 14px;
	font-size: 14px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.cart-description .detail-list > li.active > .desc p {
	margin-top: 5px;
	font-size: 10px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	font-weight: 600;
}

/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) { }

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) { }

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }