.slider-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.main-slider {
	visibility: hidden;
}
.popular-list {
	margin: -5px -10px -10px -10px;
}
.popular-list li {
	position: relative;
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}
.popular-list li a {
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	border-radius: 3px;
}
.popular-list li a:hover {
	opacity: 0.8;
	text-decoration: none;
}
.popular-list li img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	object-fit: cover;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}
.popular-list li a:hover img {
	transform: scale(1.1);
}
.popular-list li .title {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	background: #111;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popular-list li .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333;
	font-size: 11px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    background: #FFF;
    background: rgba(255, 255, 255, 0.7);
}
.popular-list li .desc i {
	display: none;
}
.airlines-list {
	text-align: center;
}
.airlines-list li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: -4px;
	padding: 10px;
	box-sizing: border-box;
}
.airlines-list li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) {
	.popular-list li .desc i {
		display: inline-block;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border: 1px solid;
		border-radius: 50%;
		font-size: 13px;
	}
}

/* Tablets */
@media (min-width: 600px) {
	.popular-list li {
		width: 33.33%;
	}
	.popular-list li:nth-child(10) {
		display: none;
	}
	.airlines-list li {
		width: 60px;
		height: 60px;
	}
}

/* Bigger tablets */
@media (min-width: 750px) {
	.popular-list li {
		width: 25%;
	}
	.popular-list li:nth-child(9) {
		display: none;
	}
	.airlines-list li {
		width: 70px;
		height: 70px;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.popular-list li {
		width: 20%;
	}
	.popular-list li {
		display: block!important;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }