.flight-filter {
	padding: 10px 20px;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.flight-filter h5 a {
	display: inline-block;
	margin-left: 10px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 12px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.flight-filter h5 a.active,
.flight-filter h5 a:hover {
	text-decoration: none;
	background: #EEE;
	color: #333;
}
.flight-filter .flight-filter-item li {
	border-bottom: 1px solid #EEE;
	padding: 10px 0;
	display: none;
}
.flight-filter .flight-filter-item li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.flight-filter .flight-filter-item li h6 {
	font-size: 14px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}
.flight-filter .flight-filter-item li a {
	display: inline-block;
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #EEE;
	border-radius: 3px;
	color: #999;
}
.flight-filter .flight-filter-item li a:hover {
	text-decoration: none;
}
.flight-filter .flight-filter-item li a img {
	display: inline-block;
	margin-top: -2px;
	width: 20px;
	height: 20px;
	line-height: 30px;
	object-fit: cover;
}
.flight-sort {
	position: relative;
	margin: 20px 0;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.flight-sort li {
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.flight-sort li a {
	display: block;
	color: #999;
	padding: 10px 0;
	text-align: center;
	font-size: 11px;
}
.flight-sort li a:hover {
	background: #F5F5F5;
	text-decoration: none;
}
.flight-list {
	position: relative;
	width: 100%;
	min-height: 80px;
}
.flight-list > li {
	margin-bottom: 20px;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.flight-list > li > .preview {
	display: block;
	padding: 10px;
	color: #333;
	box-sizing: border-box;
}
.flight-list .list-data {
	width: 100%;
	padding-bottom: 10px;
	box-sizing: border-box;
}
.flight-list .flight-title {
	text-align: center;
	text-transform: capitalize;
}
.flight-list .flight-title img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.flight-list .flight-title p {
	font-size: 10px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.flight-list .flight-schedule > div {
	position: relative;
	float: left;
	width: 33.33%;
	padding: 0 10px 0 20px;
	border-right: 1px solid #EEE;
	box-sizing: border-box;
}
.flight-list .flight-schedule > div:last-child {
	border-right: none;
}
.flight-list .flight-schedule > div p {
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.flight-list .flight-schedule > div p.time {
	font-size: 18px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.flight-list .flight-schedule > div p.desc {
	font-size: 11px;
	color: #999;
}
.flight-list .flight-price {
	padding: 20px 0;
	text-align: center;
}
.flight-list .flight-price small {
	font-size: 11px;
	color: #666;
}
.flight-list .flight-price p {
	display: inline-block;
	font-size: 11px;
}
.flight-list .flight-price p i {
	font-size: 25px;
	font-style: normal;
}
.flight-list .flight-action {
	padding-bottom: 0;
}
.flight-list .flight-action .action {
	margin-bottom: 10px;
}
.toggle-flight-list {
	display: block;
	padding: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #666;
	border-radius: 3px;
	color: #333;
}
.toggle-flight-list:hover {
	text-decoration: none;
}
.toggle-flight-list h4 {
	font-size: 14px;
}
.toggle-flight-list span {
	font-size: 11px;
}
.flight-list > li > .detail {
	display: none;
	padding: 10px 20px;
	box-sizing: border-box;
	border-top: 1px solid #EEE;
}
.flight-list > li > .detail .route,
.flight-list > li > .detail .class {
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.flight-list > li > .detail .route > li {
	position: relative;
	border-left: 1px solid #EEE;
}
.flight-list > li > .detail .route > li:first-child {
	padding-top: 0;
}
.flight-list > li > .detail .route > li:last-child {
	padding-bottom: 0;
	border-left: none;
	padding-left: 1px;
}
.flight-list > li > .detail .route > li > div {
	float: left;
	padding: 0 10px 20px 10px;
	box-sizing: border-box;
}
.flight-list > li > .detail .route > li:last-child > div {
	padding-bottom: 0;
}
.flight-list > li > .detail .route > li > div.icon {
	margin-left: -10px;
	padding: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #FFF;
	border-radius: 50%;
	text-align: center;
}
.flight-list > li > .detail .route > li > div.time {
	width: 90px;
}
.flight-list > li > .detail .route > li > div.airport {
	width: 200px;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}
.flight-list > li > .detail .route > li > div h5 {
	line-height: 16px;
	font-size: 16px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.flight-list > li > .detail .route > li > div span {
	margin-top: 5px;
	display: block;
	font-size: 11px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	color: #666;
}
.flight-list > li > .detail .route > li.active,
.flight-list > li > .detail .class > li.active {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px dashed #DDD;
	background: #FAFAFA;
	border-radius: 3px;
}
.flight-list > li > .detail .class > li.active {
	margin-top: 20px;
}
.flight-list > li > .detail .route > li.active > div {
	float: none;
	padding: 0;
}
.flight-list > li > .detail .route > li.active > .desc,
.flight-list > li > .detail .route > li.active > .facility {
	box-sizing: border-box;
}
.flight-list > li > .detail .route > li.active > .desc h5,
.flight-list > li > .detail .class > li.active > .desc h5 {
	display: inline-block;
	line-height: 16px;
	font-size: 16px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.flight-list > li > .detail .route > li.active > .desc p,
.flight-list > li > .detail .class > li.active > .desc p {
	float: right;
	display: inline-block;
	font-size: 11px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	color: #CCC;
}
.flight-list > li > .detail .class > li.active > .desc p {
	float: none;
	margin-top: 5px;
	text-align: left;
}
.flight-list > li > .detail .route > li.active > .facility span {
	display: inline-block;
	font-size: 10px;
	line-height: 20px;
	margin-right: 10px;
}
.flight-list > li > .detail .route > li > .facility span i {
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
	vertical-align: middle;
}
.flight-list > li > .detail .class > li {
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
}
.flight-list > li > .detail .class > li:last-child {
	padding-bottom: 0;
	border: none;
}
.flight-list > li > .detail .class > li > .name,
.flight-list > li > .detail .class > li > .price,
.flight-list > li > .detail .class > li > .action {
	float: left;
	width: 33.33%;
	line-height: 30px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.flight-list > li > .detail .class > li > .price p {
	display: inline-block;
}
.flight-list > li > .detail .class > li > .action {
	text-align: right;
}
.flight-list > li > .detail .class > li > .action button {

}
.taken-schedule {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	border: 2px dashed;
	border-radius: 3px;
	box-sizing: border-box;
}
.taken-schedule .overlay {
	z-index: 0;
	background: rgba(255, 255, 255, 0.7);
}
.taken-schedule .retake {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 40px;
	top: 50%;
	left: 0;
	right: 0;
	margin: -20px auto 0 auto;
	text-align: center;
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) {
	.flight-list > li > .preview {
		height: 90px;
	}
	.flight-list .list-data {
		float: left;
		padding-bottom: 0;
	}
	.flight-list .flight-title {
		width: 60px;
		padding-right: 10px;
		box-sizing: border-box;
	}
	.flight-list .flight-price {
		width: 100px;
	    width: -webkit-calc(100% - 140px);
	    width: -moz-calc(100% - 140px);
	    width: calc(100% - 140px);
		padding: 15px 10px 0 0;
		text-align: right;
	}
	.flight-list .flight-price p {
		display: block;
	}
	.flight-list .flight-price p i {
		font-size: 20px;
	}
	.flight-list .flight-schedule {
		display: none;
	}
	.flight-list .flight-action {
		width: 80px;
	}
	.search-result .result-body.col-2 .result-wrapper.inactive .flight-price {
		width: 200px;
	    width: -webkit-calc(100% - 70px);
	    width: -moz-calc(100% - 70px);
	    width: calc(100% - 70px);
	    text-align: right;
	}
	.search-result .result-body.col-2 .result-wrapper.inactive .flight-schedule,
	.search-result .result-body.col-2 .result-wrapper.inactive .flight-action {
		display: none;
	}
	.search-result .result-body.col-2 .result-wrapper.active {

	}
}

/* Bigger tablets */
@media (min-width: 750px) {
	.flight-filter h5 a {
		font-size: 13px;
	}
	.flight-list .flight-price {
		padding-right: 20px;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.flight-list .flight-price {
		width: 130px;
		padding-top: 0;
	}
	.flight-list .flight-price p i {
		font-size: 25px;
	}
	.flight-list .flight-schedule {
		display: block;
		width: 300px;
	    width: -webkit-calc(100% - 310px);
	    width: -moz-calc(100% - 310px);
	    width: calc(100% - 310px);
	}
	.flight-list .flight-action {
		width: 120px;
	}
	.flight-sort li a {
		font-size: 13px;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) {
	.flight-list > li > .detail .route,
	.flight-list > li > .detail .class {
		padding-left: 20px;
	}
	.flight-list > li > .detail.has-class .route,
	.flight-list > li > .detail.has-class .class {
		width: 50%;
	}
	.flight-list > li > .detail .route > li.active,
	.flight-list > li > .detail .class > li.active {
		margin-left: -20px;
	}
	.flight-list > li > .detail .class > li.active {
		display: none;
		margin-top: 0;
	}
}

/* Widescreens */
@media (min-width: 1500px) { }