.checkout-wrapper {
	position: relative;
}
.checkout-wrapper .input-wrapper {
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.checkout-wrapper .cart-wrapper {
	float: right;
	width: 100%;
	box-sizing: border-box;
}
.input-wrapper h1,
.cart-wrapper h1 {
	font-size: 20px;
	word-wrap: break-word;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	border-bottom: 2px solid;
}
.input-wrapper .form-group {
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.input-wrapper .form-group .group-title {
	margin: -20px -20px 20px -20px;
	padding: 0 20px;
	background: #F5F5F5;
	box-sizing: border-box;
	line-height: 40px;
	height: 40px;
	word-wrap: break-word;
	font-size: 16px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.input-wrapper .form-item {
	margin-bottom: 10px;
}
.input-wrapper .form-item:last-child {
	margin-bottom: 0;

}
.input-wrapper .form-item .input-item {
	width: 100%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border: 1px solid #EEE;
	border-radius: 3px;
	padding: 0 10px;
	background: #FFF;
}

.cart-item {
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 3px;
}
.cart-item.has-image .cart-image {
	float: left;
	width: 50px;
}
.cart-item.has-image .cart-image i {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #EEE;
	color: #666;
	font-size: 20px;
	border-radius: 3px;
}
.cart-item.has-image .cart-image img {
	width: 100%;
}
.cart-item.has-image .cart-image p {
	font-size: 10px;
	text-align: center;
}
.cart-item.has-image .cart-description {
	float: right;
	width: 200px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
}
.cart-item .cart-notes {
	margin-top: 10px;
	padding: 5px;
	background: #EEE;
	border-radius: 3px;
	font-size: 10px;
}
.cart-item .cart-price > li {
	padding: 10px 0;
	border-top: 1px solid #EEE;
}
.cart-item .cart-price > li .price-title {
	display: inline-block;
}
.cart-item .cart-price > li .price-amount {
	float: right;
}
.cart-item .cart-price > li:last-child {
	padding-bottom: 0;
}

.total-price {
	font-size: 16px;
}
.total-price .price-title {
	display: inline-block;
}
.total-price .price-amount {
	float: right;
}
.total-price .price-amount small {
	font-size: 12px;
	color: #333;
}

/* PAYMENT METHOD */
.payment-method > ul {
	position: relative;
	margin: 0 -5px;
}
.payment-method > ul > li {
	box-sizing: border-box;
	padding-bottom: 10px;
}
.payment-method-item {
	width: 100%;
}
.payment-method-item > li {
	/* position: relative;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-sizing: border-box; */
	position: relative;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    width: 48%;
    margin: 5px;
}
.payment-method-item .selector {
	padding: 10px;
	font-size: 12px;
	background: #F5F5F5;
	border-radius: 3px;
	box-sizing: border-box;
}
.payment-method-item .selector input[type="radio"]{
	float: left;
	margin-top: 0;
	margin-right: 5px;
}
.payment-method-item .thumbnail {
	display: block;
	margin-top: 5px;
	padding-left: 20px;
	box-sizing: border-box;
}
.payment-method-item .thumbnail img {
	height: 30px;
}
.payment-method-item .description {
	margin-top: 10px;
	padding: 10px 10px 0 10px;
	background: #F5F5F5;
	border: 1px dashed;
}
.payment-method-item .description .transfer-description li {
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.payment-method-item .description .transfer-description li h4 {
	font-size: 14px;
	font-weight: 600;
}
.payment-method-item .description .transfer-description li p {
	margin-bottom: 15px;
}

/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) {
	.checkout-wrapper .input-wrapper {
		width: 50%;
		padding-right: 10px;
	}

	.checkout-wrapper .cart-wrapper {
		width: 50%;
		padding-left: 10px;
	}
	.payment-method-item .description .transfer-description li {
		float: left;
		width: 50%;
	}
}

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.checkout-wrapper {
		padding-top: 50px;
	}
	.checkout-wrapper .input-wrapper {
		width: 60%;
	}

	.checkout-wrapper .cart-wrapper {
		width: 40%;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) {
	.checkout-wrapper .input-wrapper {
		width: 65%;
	}

	.checkout-wrapper .cart-wrapper {
		width: 35%;
	}

	.payment-method > ul > li {
		float: left;
		width: 20%;
		padding: 0 5px;
	}
	.payment-method .payment-tabs {
		position: absolute;
		left: 5px;
		width: 100%;
		padding-right: 10px;
		box-sizing: border-box;
	}
}

/* Widescreens */
@media (min-width: 1500px) { }