.hotel-filter {
	position: relative;
}
.hotel-filter h5 {
	position: absolute;
	width: 80px;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	border-radius: 3px 0 0 3px;
	top: 1px;
	left: 1px;
	background: #EEE;
	box-sizing: border-box;
}
.hotel-filter h5 i {
	display: inline-block;
	margin-right: 5px;
}
.hotel-filter input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 100px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-sizing: border-box;
}
.hotel-sort {
	position: relative;
	margin: 20px 0;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.hotel-sort li {
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.hotel-sort li a {
	display: block;
	color: #999;
	padding: 10px 0;
	text-align: center;
	font-size: 11px;
}
.hotel-sort li a:hover {
	background: #F5F5F5;
	text-decoration: none;
}
.hotel-list {
	position: relative;
	width: 100%;
	min-height: 80px;
}
.hotel-list > li {
	margin-bottom: 20px;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.hotel-list > li > .preview {
	position: relative;
	padding: 10px;
	color: #333;
	box-sizing: border-box;
}
.preview .hotel-image {
	min-width: 120px;
	max-width: 100%;
	height: 80px;
	margin: 0 auto;
	background: #DDD;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.preview .hotel-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.preview .hotel-image i {
	font-size: 30px;
	color: #666;
	line-height: 70px;
}
.preview .hotel-desc {
	margin-top: 10px;
	border-top: 1px solid #EEE;
	padding-top: 10px;
	overflow: hidden;
}
.preview .hotel-desc .hotel-name {
	word-wrap: break-word;
	font-size: 16px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	line-height: normal;
}
.preview .hotel-desc p {
	margin-top: 10px;
	font-size: 11px;
}
.preview .hotel-desc p.availability {
	display: inline-block;
	background: #EEE;
	padding: 0 5px;
}
.preview .hotel-desc .hotel-location {
	margin-top: 10px;
	border-top: 1px solid #EEE;
	padding-top: 10px;
	text-align: center;
}
.preview .hotel-desc .hotel-location i {
	display: inline-block;
	margin-right: 5px;
}
.preview .hotel-desc .hotel-location button {
	display: block;
	width: 100%;
}
.preview .hotel-price {
	margin-top: 10px;
}
.hotel-detail-price,
.hotel-total-price {
	border: 1px solid #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.hotel-detail-price li {
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-bottom: 1px solid #EEE;
}
.hotel-detail-price li:last-child {
	border-bottom: none;
}
.hotel-detail-price li label {
	float: left;
	font-weight: 600;
}
.hotel-detail-price li p {
	float: right;
}
.hotel-total-price {
	margin-top: 10px;
	padding: 10px;
}
.hotel-total-price label {
	float: left;
	font-weight: 600;
	line-height: 25px;
}
.hotel-total-price p {
	float: right;
	font-size: 11px;
}
.hotel-total-price p small {
	font-size: 11px;
	color: #666;
}
.hotel-total-price p i {
	font-size: 25px;
	font-style: normal;
}
.hotel-total-price .price-notes {
	margin-top: 5px;
}
.hotel-total-price .price-notes > span {
	font-size: 10px;
}
.hotel-item .preview > .action {
	margin-top: 10px;
}
.hotel-item .preview > .action .soldout {
	height: 35px;
	line-height: 33px;
	text-align: center;
	background: #EEE;
	border-radius: 3px;
}
.pop-maps,
.pop-detail {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	background: rgba(255, 255, 255, 0.7);
}
.pop-detail {
	padding: 20px;
	box-sizing: border-box;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}
.pop-maps .pop-maps-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.pop-detail .pop-detail-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #FFF;
	border-radius: 3px;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
}
.pop-maps .pop-close {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 50px;
	top: 0;
	right: 0;
	padding: 10px;
	box-sizing: border-box;
}
.pop-detail .pop-close {
	position: fixed;
	z-index: 2;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
.pop-detail .pop-close button {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	border-radius: 0 0 0 3px;
}
.pop-maps .pop-close button i {
	display: inline-block;
	margin-right: 5px;
}
.pop-maps #map-canvas {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #EEE;
}
.taken-item {
	position: absolute!important;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	border: 2px dashed;
	border-bottom: 2px dashed;
	border-radius: 3px;
	box-sizing: border-box;
}
.taken-item .overlay {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
}
.taken-item .retake {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 40px;
	top: 50%;
	left: 0;
	right: 0;
	margin: -20px auto 0 auto;
	text-align: center;
}
.detail-item .detail-head h1 {
	margin-bottom: 5px;
	font-size: 20px;
}
.detail-item .detail-head div i {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.detail-item .detail-info {
	margin-top: 20px;
	border: 1px solid #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.detail-item .detail-info > li {
	border-bottom: 1px solid #EEE;
}
.detail-item .detail-info > li:last-child {
	border-bottom: none;
}
.detail-item .detail-info > li > a {
	display: block;
	height: 40px;
	line-height: 40px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 0 10px;
	box-sizing: border-box;
	background: #FAFAFA;
}
.detail-item .detail-info > li > a:hover {
	text-decoration: none;
}
.detail-item .detail-info > li > a i {
	display: inline-block;
	margin-right: 5px;
}
.detail-item .detail-info .info-content {
	display: none;
	padding: 10px;
	overflow: hidden;
}
.detail-item .detail-info .info-content * {
	max-width: 100%;
}
.detail-item .detail-info .info-content.amenities {
	
}
.detail-item .detail-info .info-content.amenities a,
.detail-item .detail-info .info-content.amenities button,
.detail-item .detail-info .info-content.amenities input {
	display: none;
	width: 0!important;
	height: 0!important;
	padding: 0!important;
	margin: 0!important;
}
.detail-item .detail-info .info-content.amenities h1,
.detail-item .detail-info .info-content.amenities h2,
.detail-item .detail-info .info-content.amenities h3,
.detail-item .detail-info .info-content.amenities h4,
.detail-item .detail-info .info-content.amenities h5,
.detail-item .detail-info .info-content.amenities h6 {
	margin-bottom: 10px;
}
.detail-item .detail-info .info-content.amenities h1 {
	font-size: 18px!important;
}
.detail-item .detail-info .info-content.amenities h2 {
	font-size: 16px!important;
	display: none;
}
.detail-item .detail-info .info-content.amenities h3 {
	font-size: 14px!important;
}
.detail-item .detail-info .info-content.amenities h4,
.detail-item .detail-info .info-content.amenities h5,
.detail-item .detail-info .info-content.amenities h6 {
	font-size: 12px!important;
}
.detail-item .detail-info .info-content.amenities > div {
	display: block;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.detail-item .detail-info .info-content.amenities ul,
.detail-item .detail-info .info-content.amenities ol {
	list-style: disc;
	margin-left: 15px;
}
.detail-item .detail-info .info-content.gallery li {
	float: left;
	width: 33.33%;
	height: 80px;
	padding: 5px;
	box-sizing: border-box;
}
.detail-item .detail-info .info-content.gallery li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.detail-item .detail-info .info-content.location p {
	padding: 10px;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-sizing: border-box;
}
.detail-item .detail-info .info-content.location .maps-wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	background: #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.detail-item .detail-info .info-content.review {
	text-align: center;
}
.detail-item .detail-info .info-content.review label {
	display: block;
	font-size: 10px;
	font-weight: 600;
	color: #999;
}
.detail-item .detail-info .info-content.review img {
	height: 50px;
}
.room-list {
	position: relative;
	border: 1px solid #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.room-list > li {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #EEE;
}
.room-list > li:last-child {
	border-bottom: none;
}
.room-list .room-image {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 10px;
	background: #DDD;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
}
.room-list .room-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.room-list .room-image i {
	display: inline-block;
	line-height: 60px;
	font-size: 20px;
	color: #333;
}
.room-list .room-title {
	min-height: 70px;
	padding-left: 75px;
	box-sizing: border-box;
}
.room-list .room-title p {
	font-size: 11px;
}
.room-list .room-desc {
	margin-top: 10px;
}
.room-list .room-desc > li {
	box-sizing: border-box;
}
.room-list .room-desc > li .content-html {
	position: relative;
	overflow: hidden;
	word-wrap: break-word;
	margin-bottom: 5px;
}
.room-list .room-desc > li .content-html * {
	max-width: 100%;
	font-size: 12px!important;
	font-weight: 400!important;
	line-height: normal!important;
}
.room-list .room-desc > li .content-html ul,
.room-list .room-desc > li .content-html ol {
	list-style: disc;
	margin-left: 15px;
}
.room-list .room-price {
	margin-top: 10px;
	border: 1px solid #EEE;
	border-radius: 3px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
.room-list .room-price label {
	font-size: 11px;
	font-weight: 600;
}
.room-list .room-price p {
	font-size: 18px;
}
.room-list .room-action {
	margin-top: 10px;
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) {
	.preview .hotel-image {
		width: 200px;
	}
}

/* Tablets */
@media (min-width: 600px) {
	.preview .hotel-image {
		position: absolute;
		top: 10px;
		left: 10px;
		min-width: 100px;
		width: 100px;
		height: 100px;
	}
	.preview .hotel-desc {
		padding-left: 120px;
		box-sizing: border-box;
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}
	.preview .hotel-desc .hotel-location {
		text-align: left;
		box-sizing: border-box;
	}
	.preview .hotel-desc .hotel-location button {
		float: right;
		margin-top: 0!important;
		display: inline-block;
		width: auto;
	}
	.hotel-price {
		padding: 0 5px;
	}
	.hotel-detail-price {
		float: left;
		width: 50%;
		margin: 0 5px 0 -5px;
		box-sizing: border-box;
	}
	.hotel-total-price {
		float: right;
		width: 50%;
		margin: 0 -5px 0 5px;
		box-sizing: border-box;
	}
	.pop-maps .pop-maps-wrapper {
		top: 50%;
		left: 0;
		right: 0;
		width: 500px;
		height: 300px;
		margin: -150px auto 0 auto;
		border-radius: 3px;
		overflow: hidden;
	}
	.detail-item .detail-info .info-content.gallery li {
		width: 25%;
	}
	.room-list .room-desc > li {
		float: left;
		width: 50%;
		padding: 0 15px;
	}
	.room-list .room-desc > li:first-child {
		margin-left: -5px;
		border-right: 1px solid #EEE;
	}
	.room-list .room-desc > li:last-child {
		border-left: 1px solid #EEE;
		margin-left: -1px;
		margin-right: -5px;
	}
}

/* Bigger tablets */
@media (min-width: 750px) {
	.preview .hotel-desc .hotel-location button {
		width: 150px;
	}
	.hotel-price {
		padding-right: 165px;
	}
	.hotel-detail-price {
		width: 40%;
	}
	.hotel-total-price {
		width: 60%;
		height: 74px;
	}
	.hotel-item .preview > .action {
		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 150px;
		height: 74px;
	}
	.hotel-item .preview > .action button,
	.hotel-item .preview > .action .soldout {
		height: 72px;
		line-height: 70px;
	}
	.pop-maps .pop-maps-wrapper {
		width: 650px;
		height: 400px;
		margin-top: -200px;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.hotel-sort li a {
		font-size: 13px;
	}
	.pop-maps .pop-maps-wrapper {
		width: 700px;
		height: 400px;
		margin-top: -200px;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) {
	.preview .hotel-desc {
		padding-right: 510px;
	}
	.preview .hotel-price {
		position: absolute;
	    top: 0;
	    right: 15px;
	    width: 480px;
	    padding: 0;
	}
	.hotel-item .preview > .action {
		width: 490px;
		height: auto;
	}
	.hotel-item .preview > .action button,
	.hotel-item .preview > .action .soldout {
		height: 38px;
		line-height: 38px;
	}
	.pop-maps .pop-maps-wrapper {
		width: 800px;
	}
	.detail-item .detail-info .info-content.gallery li {
		width: 20%;
	}
}

/* Widescreens */
@media (min-width: 1500px) { }