.cart-description .route {
	width: 100%;
	padding-left: 20px;
	box-sizing: border-box;
}
.cart-description .route > li {
	position: relative;
	border-left: 1px solid;
}
.cart-description .route > li:first-child {
	padding-top: 0;
}
.cart-description .route > li:last-child {
	padding-bottom: 0;
	border-left: none;
	padding-left: 1px;
}
.cart-description .route > li > div {
	float: left;
	padding: 0 10px 10px 10px;
	box-sizing: border-box;
}
.cart-description .route > li:last-child > div {
	padding-bottom: 0;
}
.cart-description .route > li > div.icon {
	margin-left: -10px;
	padding: 0;
	width: 20px;
	height: 16px;
	line-height: 16px;
	background: #FFF;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
}
.cart-description .route > li > div.schedule {
	width: 200px;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
	line-height: 16px;
	font-size: 10px;
}
.cart-description .route > li.active {
	margin-left: -20px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px dashed #DDD;
	background: #FAFAFA;
	border-radius: 3px;
}
.cart-description .route > li.active > div {
	float: none;
	padding: 0;
}
.cart-description .route > li.active > .desc,
.cart-description .route > li.active > .facility {
	box-sizing: border-box;
}
.cart-description .route > li.active > .desc h5 {
	display: inline-block;
	line-height: 14px;
	font-size: 14px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.cart-description .route > li.active > .desc p {
	float: right;
	display: inline-block;
	font-size: 11px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	color: #CCC;
}

/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) { }

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) { }

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }