.info-wrapper {
	position: relative;
}
.info-navigation {
	margin-bottom: 20px;
	border: 1px solid #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.info-navigation > li {
	position: relative;
	border-bottom: 1px solid #EEE;
}
.info-navigation > li:last-child {
	border-bottom: none;
}
.info-navigation > li > a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.info-navigation > li > a:hover {
	text-decoration: none;
	background: #F5F5F5;
}
.info-navigation > li > a.active {
	color: #FFF;
}
.info-content {
	position: relative;
	display: none;
	box-sizing: border-box;
}
.info-content > h1 {
	font-size: 18px;
}
.info-content > h1 i {
	display: inline-block;
	margin-right: 5px;
}
.info-content > .content-wrapper {
	padding-top: 10px;
	overflow: hidden;
}
.info-content > .content-wrapper * {
	max-width: 100%;
	word-wrap: break-word;
	font-size: 12px!important;
}
.info-content > .content-wrapper p,
.info-content > .content-wrapper ul,
.info-content > .content-wrapper ol {
	margin-bottom: 15px;
}
.info-content > .content-wrapper ul,
.info-content > .content-wrapper ol {
	margin-left: 25px;
}
.info-content > .content-wrapper ul {
	list-style: disc;
}
.info-content > .content-wrapper ol {
	list-style: decimal;
}

/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) {
	.info-navigation {
		position: absolute;
		z-index: 1;
		width: 200px;
	}
	.info-content {
		padding-left: 220px;
		min-height: 400px;
	}
}

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.info-wrapper {
		padding-top: 50px;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }