/**
 * STYLES SEARCH
 * @author Asep Fajar Nugraha
 * @copyright 2016
 */

.search-wrapper {
	position: relative;
	margin-bottom: 20px;
	height: auto;
	padding: 0 20px;
	box-sizing: border-box;
	background: #222;
	color: #FFF;
}
.search-wrapper .search-form {
	max-height: 0;
	display: none;
}
.search-wrapper.active .search-form {
	display: block;
	max-height: 600px;
}
.search-wrapper h4 {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
}
.search-wrapper h4 i {
	display: inline-block;
	margin-right: 5px;
}
.search-wrapper .search-category li {
	float: left;
	padding: 0 2px;
}
.search-wrapper .search-category li a {
	display: block;
	width: 30px;
	background: #333;
	color: #999;
	box-sizing: border-box;
	font-size: 11px;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	border-radius: 3px 3px 0 0;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}
.search-wrapper .search-category li a:hover {
	text-decoration: none;
	background: #111;
}
.search-wrapper .search-category li a.active {
	width: auto;
	padding-right: 10px;
}
.search-wrapper .search-category li a i {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
}
.search-wrapper .box {
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	border-radius: 3px;
}
.search-wrapper .box.box-white {
	background: #FFF;
}
.search-wrapper .route {
	border-left: 1px dashed;
	margin-left: 15px;
}
.search-wrapper .route li {
	position: relative;
	background: #FFF;
	margin-left: 30px;
}
.search-wrapper .route li label {
	display: block;
	font-size: 10px;
	color: #999;
}
.search-wrapper .route .icon {
	position: absolute;
	left: -45px;
	width: 30px;
	background: #FFF;
}
.search-wrapper .route .icon i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}
.search-wrapper .route .switch {
	position: absolute;
	z-index: 1;
	bottom: -15px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 27px;
	border-radius: 50%;
	background: #FFF;
	border: 1px solid #EEE;
	box-sizing: border-box;
	color: #333;
	text-align: center;
}
.search-wrapper .route .switch:hover {
	text-decoration: none;
	color: #FFF;
}
.search-wrapper .route li:first-child .icon {
	top: 0;
	padding-top: 15px;
}
.search-wrapper .route li:last-child .icon {
	bottom: 0;
	padding-bottom: 15px;
}
.search-wrapper .route .item {
	padding: 10px 0;
}
.search-wrapper .route .item.bordered {
	border-bottom: 1px solid #EEE;
}
.search-wrapper .route .item input {
	margin-top: 5px;
	background: #FFF;
	width: 100%;
	box-sizing: border-box;
	color: #333;
	height: 20px;
	line-height: 20px;
	border: none;
	outline: none;
}
.search-wrapper .default,
.search-wrapper .date {
	padding: 10px 0;
}
.search-wrapper .date .date-switch {
	text-align: center;
}
.search-wrapper .date .date-switch a {
	display: inline-block;
	margin-left: -4px;
	padding: 5px 10px;
	background: #DDD;
	font-size: 10px;
	color: #333;
}
.search-wrapper .date .date-switch a:first-child {
	border-radius: 3px 0 0 3px;
}
.search-wrapper .date .date-switch a:last-child {
	border-radius: 0 3px 3px 0;
}
.search-wrapper .date .date-switch a:hover {
	background: #CCC;
	text-decoration: none;
}
.search-wrapper .date .date-switch a.active {
	text-decoration: none;
}
.search-wrapper .default .item,
.search-wrapper .date .item {
	position: relative;
}
.search-wrapper .default label,
.search-wrapper .date label {
	display: block;
	font-size: 10px;
	color: #999;
}
.search-wrapper .default .icon,
.search-wrapper .date .icon {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #FFF;
	color: #999;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}
.search-wrapper .default input,
.search-wrapper .date input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	padding: 0 10px 0 35px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-sizing: border-box;
}
.search-wrapper .pax,
.search-wrapper .qty {
	margin: 0 -5px;
	padding: 10px 0;
}
.search-wrapper .pax label,
.search-wrapper .qty label {
	display: block;
	font-size: 10px;
	color: #999;
}
.search-wrapper .pax li,
.search-wrapper .qty li {
	float: left;
	position: relative;
	width: 33.33%;
	padding: 0 5px;
	box-sizing: border-box;
}
.search-wrapper .qty li {
	width: 50%;
}
.search-wrapper .pax li a.toggle,
.search-wrapper .qty li a.toggle {
	display: block;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333;
	border: 1px solid #EEE;
	border-radius: 3px;
	background: #FFF;
}
.search-wrapper .pax li a.toggle:hover,
.search-wrapper .qty li a.toggle:hover {
	text-decoration: none;
	background: #FAFAFA;
}
.search-wrapper .pax li a.toggle i,
.search-wrapper .qty li a.toggle i {
	float: right;
	line-height: 35px;
	font-size: 14px;
	color: #999;
}
.search-wrapper .pax li ul,
.search-wrapper .qty li ul {
	display: none;
	position: absolute;
	z-index: 2;
	width: 40px;
	margin-top: -40px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
}
.search-wrapper .pax li ul li,
.search-wrapper .qty li ul li {
	float: none;
	width: 100%;
	padding: 0;
}
.search-wrapper .pax li ul li a,
.search-wrapper .qty li ul li a {
	display: block;
	text-align: center;
	padding: 5px 0;
	color: #333;
}
.search-wrapper .pax li ul li a:hover,
.search-wrapper .qty li ul li a:hover {
	text-decoration: none;
}
.search-wrapper form button.submit {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	border-radius: 3px;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.search-wrapper form button.submit i {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
}
.search-wrapper .search-toggle {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: #111;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.search-wrapper .search-toggle:hover {
	color: #333;
}
.search-wrapper.active .search-toggle i {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) { }

/* Bigger tablets */
@media (min-width: 750px) { }

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	.search-wrapper {
		position: absolute;
		z-index: 3;
		top: -40px;
		left: 45px;
		width: 300px;
	}
	.search-wrapper .search-toggle {
		top: auto;
		left: 0;
		right: 0;
		bottom: -19px;
		margin: 0 auto;
		width: 260px;
		height: 20px;
		line-height: 20px;
		border-top: 1px solid #000;
		border-radius: 0 0 3px 3px;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) { }

/* Widescreens */
@media (min-width: 1500px) { }