/**
 * STYLES COMMON
 * @author Asep Fajar Nugraha
 * @copyright 2016
 */

@import url('main.css');

/* COMMON */
.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

/* HEADER */
header {
	background: #EEE;
}
header .header-top {
	height: 70px;
}
header .nav {
    position: absolute;
    display: block;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background: #DDD;
    transition: background-color .3s ease-in-out
}
header .nav:hover,
header .nav:active {
    color: #FFF
}
header .nav.nav-menu {
    left: 5px
}
header .main-logo {
	position: absolute;
	top: 0;
	left: 60px;
	width: 300px;
	height: 70px;
	line-height: 65px;
}
header .main-logo img {
	width: 75%;
}
header .top-nav {
	display: none;
	width: 100%;
	height: 70px;
	overflow: hidden;
	padding-left: 350px;
	box-sizing: border-box;
}
header .top-nav .nav-left {
	display: none;
	float: left;
	text-align: left;
}
header .top-nav .nav-right {
	display: none;
	float: right;
	text-align: right;
}
header .top-nav .nav-left li {
	display: inline-block;
	padding-right: 20px;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
}
header .top-nav .nav-left li:last-child {
	padding-right: 0;
}
header .top-nav .nav-left li a {
	text-transform: uppercase;
	font-size: 11px;
}
header .top-nav .nav-left li a:hover {
	text-decoration: none;
}
header .top-nav .nav-right li {
	float: right;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	/*border-right: 1px solid #CCC;*/
	font-size: 11px;
	box-sizing: border-box;
}
header .top-nav .nav-right li.service-hour {
	line-height: normal;
	border: none;
	padding-top: 10px;
	padding-right: 0;
}
header .top-nav .nav-right li i {
	display: inline-block;
	margin-right: 5px;
}
header .header-main {
	display: none;
	border-top: 2px solid;
	background: #DDD;
	height: 40px;
	overflow: hidden;
}
header .header-main .main-menu {
	float: left;
	margin-left: 325px;
}
header .header-main .main-action {
	float: right;
}
.main-menu li {
	float: left;
}
.main-menu li a {
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
}
.main-menu li a:hover {
	color: #111;
	text-decoration: none;
}
.main-action {
	padding-top: 7px;
}

/* MAIN */
main {
	position: relative;
	width: 100%;
	background: #FFF;
}

/* FOOTER */
footer {
	background: #EEE;
	color: #666;
}
footer .footer-nav {
	padding: 20px 0;
	border-bottom: 1px solid #CCC;
}
.footer-nav .about {
	float: left;
	width: 50%;
}
.footer-nav .about img {
	float: left;
	width: 100px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.footer-nav .about p {
	font-size: 11px;
}
.footer-nav ul.social {
	margin-top: 10px;
}
.footer-nav ul.social li {
	float: left;
	width: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.footer-nav ul.social li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #222;
	border-radius: 3px;
	color: #FFF;
	opacity: 0.8;
	overflow: hidden;
	box-sizing: border-box;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.footer-nav ul.social li a.facebook {
	background: #475FA6;
}
.footer-nav ul.social li a.google-plus {
	background: #DD4B39;
}
.footer-nav ul.social li a.twitter {
	background: #39C2F7;
}
.footer-nav ul.social li a.instagram {
	background: #C536A4;
}
.footer-nav ul.social li a i {
	display: inline-block;
	width: 30px;
	text-align: center;
}
.footer-nav ul.social li a:hover {
	opacity: 1;
	background: #222;
	text-decoration: none;
}
.footer-nav .footer-menu {
	float: right;
	width: 50%;
	padding-left: 50px;
	box-sizing: border-box;
}
.footer-nav .footer-menu ul {
	
}
.footer-nav .footer-menu ul li a {
	display: inline-block;
	padding: 5px 0;
}
footer .download-app {
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #222;
}
footer .download-app img.device {
	position: absolute;
	width: 180px;
	bottom: 0;
	left: 0;
}
footer .download-app .desc {
	padding-left: 200px;
}
footer .download-app .desc h4 {
	font-size: 13px;
}
footer .download-app .desc a {
	max-width: 100%;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	overflow: hidden;
}
footer .download-app .desc a img {
	width: 100%;
}
footer .download-app .desc a:hover {
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}
footer .subscribe {
	padding: 20px 0;
	text-align: center;
	box-sizing: border-box;
}
footer .subscribe form {
	position: relative;
	margin-top: 10px;
}
footer .subscribe input[type="text"] {
	width: 100%;
	height: 38px;
	line-height: 38px;
	padding: 0 130px 0 10px;
	box-sizing: border-box;
	border: 1px solid;
	background: #EEE;
	font-family:'Montserrat',Helvetica,Arial,sans-serif;
	font-size: 13px;
}
footer .subscribe input[type="text"]::-moz-placeholder{color:#666;font-style:italic;opacity:1}
footer .subscribe input[type="text"]:-ms-input-placeholder{color:#666;font-style:italic;}
footer .subscribe input[type="text"]::-webkit-input-placeholder{color:#666;font-style:italic;}

footer .subscribe input[type="text"]:focus {
	background: #FFF;
}
footer .subscribe button {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 38px;
	line-height: 38px;
	border: none;
	outline: none;
	color: #EEE;
	font-family: 'Montserrat',Helvetica,Arial,sans-serif;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
}
footer .copyright {
	height: 52px;
    background: #012561;
    color: #fff;
    padding: 0 19px 0 19px;
}
footer .footer-left {
    font-size: 10px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    margin: 19px 0px 0px 0px;
    letter-spacing: -0.03em;
}
footer .footer-social {
    float: right;
    margin: 19px 0px 0px 0px;
}
footer .footer-social a {
    float: left;
    display: block;
    margin: 0px 10px 0px 10px;
    width: 14px;
    height: 14px;
    color: #fff;
}

/* COMMON */
.box-wrapper {
	position: relative;
	border: 1px solid #EEE;
	border-radius: 3px;
	padding: 0 10px 20px 10px;
	box-sizing: border-box;
}
.box-wrapper .box-head {
	position: absolute;
	top: -20px;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 25px;
	background: #FFF;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.box-wrapper .box-head i {
	position: absolute;
	left: 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.box-wrapper .box-head h4 span {
	color: #333;
}
.box-wrapper .box-body {
	padding-top: 20px;
}
.box-body .campaign {

}
.box-body .campaign li {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #EEE;
	border-radius: 3px;
}
.box-body .campaign li:last-child {
	margin-bottom: 0;
}
.box-body .campaign li .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	box-sizing: border-box;
}
.box-body .campaign li .desc {
	padding-left: 50px;
	box-sizing: border-box;
	text-align: left;
}
.box-body .campaign li .desc h4 {
	margin-bottom: 10px;
	font-size: 14px;
}
.box-body .campaign li .desc p {
	font-size: 11px;
}
.content-wrapper {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}
.content-wrapper * {
	max-width: 100%;
}
.content-wrapper p {
	margin-bottom: 15px;
}
.content-wrapper ul,
.content-wrapper ol {
	margin-left: 30px;
	margin-bottom: 15px;
}
.content-wrapper ul {
	list-style: disc;
}
.content-wrapper ol {
	list-style: decimal;
}
.ads-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	box-sizing: border-box;
	word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ads-wrapper * {
	max-width: 100%;
}
/* SELECTION */
.selection-container {
    position: relative;
    display: none;
    z-index: 2;
}
.selection-container ul {
    position: absolute;
    z-index: 1;
    top: -1px;
    width: 100%;
    max-height: 300px;
    margin: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #d2d6de;
    overflow-y: auto;
    list-style: none;
    box-sizing: border-box;
}
.selection-container li.message {
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #333;
}
.selection-container li {
	margin: 0!important;
	padding: 0!important;
}
.selection-container li a {
    display: block;
    padding: 5px 10px;
}
.selection-container li a:hover {
    color: #333;
    text-decoration: none;
}

/* NAVIGATION */
nav {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    box-sizing: border-box;
    background: #FFF;
    background: rgba(255, 255, 255, 0.8)
}
nav .nav-close {
    position: absolute;
    z-index: 2;
    display: block;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
}
.nav-wrapper {
	display: none;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-y: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px #111;
}
.nav-wrapper li {
    display: block;
}
.nav-wrapper li.separator {
	width: 100%;
	height: 1px;
	background: #222;
	padding: 0;
}
.nav-wrapper li.logo {
    text-align: center;
    padding-top: 20px;
}

.nav-wrapper li.logo img {
    height: 50px;
}
.nav-wrapper li.login {
    text-align: center;
    padding: 20px 0;
}
.nav-wrapper li.login a {
	display: inline-block!important;
    height: 30px!important;
    line-height: 30px!important;
    border-radius: 3px!important;
    border: none;
    background: #DDD;
}
.nav-wrapper li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 15px;
    border-top: 1px solid #DDD;
    box-sizing: border-box;
    color: #333;
}
.nav-wrapper li a:hover {
    color: #FFF;
    text-decoration: none;
}
.nav-wrapper li a.no-border,
.nav-wrapper li:first-child a {
    border-top: none;
}
.nav-wrapper li a i {
    display: inline-block;
    width: 20px;
	transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease
}

.nav-wrapper li a:hover i {
    color: #FFF
}
/* Smartphones */
@media (min-width: 300px) { }

/* landscape phones */
@media (min-width: 450px) { }

/* Tablets */
@media (min-width: 600px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	header .top-nav {
		display: block;
	}
	header .top-nav .nav-right {
		display: block;
	}
	.box-wrapper {
		padding: 0 20px 20px 20px;
	}
	.box-body .campaign {
		margin: 0 -15px;
		text-align: center;
	}
	.box-body .campaign li {
		float: left;
		width: 20%;
		height: 100px;
		margin-bottom: 0;
		border: none;
		border-right: 1px solid #EEE;
		overflow: hidden;
	}
	.box-body .campaign li:last-child {
		border-right: none;
	}
	.box-body .campaign li .icon {
		position: relative;
		width: auto;
		height: auto;
		padding: 0;
	}
	.box-body .campaign li .desc {
		padding: 0;
		text-align: center;
	}
	.box-body .campaign li .desc p {
		display: none;
	}
	.box-body .campaign li .desc h4 {
		font-size: 12px;
	}
	.footer-nav .about img {
		width: 150px;
	}
	.footer-nav ul.social li {
		width: 50%;
		box-sizing: border-box;
	}
	.footer-nav ul.social li a {
		width: auto;
		padding: 0 10px;
	}
	.footer-nav ul.social li a i {
		width: auto;
		margin-right: 5px;
	}
	.footer-nav .footer-menu ul {
		float: left;
		width: 50%;
	}
	footer .download-app,
	footer .subscribe {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	footer .download-app {
		padding-right: 20px;
		border-bottom: none;
	}
	footer .download-app img.device {
		display: none;
	}
	footer .download-app .desc {
		padding: 0;
		text-align: center;
	}
	footer .download-app .desc h4 {
		font-size: 16px;
	}
	footer .download-app .desc a {
		display: inline-block;
		max-width: 50%;
		margin-right: 0;
		margin-left: -4px;
		padding: 10px;
		box-sizing: border-box;
	}

	footer .subscribe {
		padding: 0;
		padding-left: 20px;
	}

	nav .nav-close {
	    right: auto;
        left: 300px
	}
	.nav-wrapper {
		width: 300px;
	}
}

/* Bigger tablets */
@media (min-width: 750px) {
	.box-body .campaign li .desc h4 {
		font-size: 13px;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
	header .nav {
		display: none;
	}
	header .main-logo {
		left: 20px;
	}
	header .top-nav .nav-left {
		display: block;
	}
	header .header-main {
		display: block;
	}
	.main-action a {
		display: block;
		margin-top: -2px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background: #CCC;
		border-radius: 3px;
		font-size: 11px;
		text-align: center;
		overflow: hidden;
	}
	.main-action a:hover {
		text-decoration: none;
		background: #BBB;
	}
	.main-action a i {
		display: inline-block;
		width: 30px;
	}
	.box-body .campaign li {
		height: 200px;
	}
	.box-body .campaign li .icon {
		font-size: 40px;
	}
	.box-body .campaign li .desc p {
		display: block;
		text-align: left;
	}
	.footer-nav ul.social li {
		width: 25%;
	}
	.footer-nav .about,
	footer .download-app {
		width: 60%;
		padding-right: 20px;
		box-sizing: border-box;
	}
	.footer-nav .footer-menu,
	footer .subscribe {
		width: 40%;
		padding-left: 20px;
		box-sizing: border-box;
	}
	footer .download-app img.device {
		display: block;
		width: 150px;
	}
	footer .download-app .desc {
		padding-left: 170px;
		text-align: left;
	}
}

/* Bigger desktop */
@media (min-width: 1100px) {
	.container {
		width: 1200px;
	}
	.main-action a {
		width: auto;
		padding: 0 15px;
	}
	.main-action a i {
		display: inline-block;
		width: auto;
		margin-right: 5px;
	}
}

/* Widescreens */
@media (min-width: 1500px) { }